/*
 * org export html style
 */

div#content, div#postamble {
    width: 40%;
    margin: 0 auto;
}

a {
    text-decoration: underline;
}

table {
  margin: 2em 0;
  width: 100%;
}
th {
  border: 2px solid #ccc;
  font-weight: bold;
}
td { border: 1px solid #ddd; }

th, td {
  padding: 4px 10px 4px 0;
}

tr,td,th {
  vertical-align: middle;
}

